:root {
  --theme-font-size: 16px;
  --theme-focus-outline-size: 1px;
  --theme-focus-outline-offset: var(--size-scalable-1);
  --theme-border-size: 2px;
  --theme-border-radius: 6px;
  --theme-responsive-factor: 1;
  --theme-scale-factor: 1;
}

@layer overrides {
  :root {
    --palette-default-active: #a158fe;
    --palette-default-active-hover: #b77fff;
    --palette-default-active-pressed: #7528d8;
  }
}